<!-- Add you custom twig html here -->
<h2>Postcode: {{ location }}</h2>
<h2>Weather Report</h2>
<h3>Current Weather: {{ currentWeather }}, Temperature: {{ temperature }}c</h3>
<img src="{{ weatherIcon }}" alt="{{ currentWeather }}" title="weather icon" />

{{ dump(weather) }}
<div>{{ weather }}</div>